---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="TransPal - 政治人物演講翻譯平台">
  <main class="min-h-screen bg-gray-50">
    <Welcome />
  </main>
</Layout>
